@import "public";
body{
    background: #f5f5f5;
}
//主体
#main{
    width: 100%;
    .top-content{
        width: 1240px;
        margin: 0 auto;
        background: pink;
        .top-slideshow{
            @include size(100%,460px);
            background: gray;
            #box{
                @include size(100%,100%);
                position: relative;
                // overflow: hidden;
            }
            #box img{
                display: block;
                @include size(100%,100%);
            }
            #top-ul{
                position: absolute;
                @include size(100%,100%);
                list-style: none;
                li{
                    position: absolute;
                    left: 0;
                    top: 0;
                    @include size(100%,100%);
                    opacity: 0;
                }
                .li1{
                    opacity: 1;
                }
            }
            span{
                position: absolute;
                font-size: 50px;
                z-index: 2;
                color: gray;
                cursor: pointer;
                top : 50%;
            }
            span:hover{
                color: white;
            }
            #left{
                left: 0;
            }
            #right{
                right: 0;
            }
        }
    }
}